include ..//mixins/_form
include ..//mixins/_media
include ..//mixins/_buttons
include ..//mixins/_layout
include ..//mixins/_style

div(layout="column" layout-gt-sm="row" layout-wrap layout-fill)
  md-content(flex flex-gt-sm="35" layout-align='stretch' )
    #map(lsm-map flex layout-align='stretch'  ng-model='location' center='mapcenter' zoom='zoom' locations='locations')
  md-content(flex flex-gt-sm="65" layout-align='stretch')
    div.sidebar.md-padding(check-login)
        p.pull-right()
            +button_fab('actions.back','regionOverview()','md-secondary','fa-arrow-left','location')
            span(ng-if='mayEdit')
                +button_fab('actions.edit','edit()','md-primary','fa-edit','location')
        h1
            strong {{location.title}}
        div(ng-if="location.demolished == true")
            img(style="max-width:100%" src="/images/abgerissen.gif")
        p.metatext
            | {{ 'author.by' | translate }}&nbsp;
            strong {{ location.user.nickname }}&nbsp;
            span {{ 'author.on' | translate }} {{ location.created | date : 'dd.MM.yy' }}
        span(ng-if="location.hidden == true && mayEdit")
          md-toast.md-success.toast-content
            div.md-toast-content {{ 'locations.hidden_moderation' | translate}}
    
        div( ng-if="photos.length > 0")
          div(ng-image-gallery  bg-close="true" img-bubbles="true" images="photos")
        div(ng-if="location.description" class="md-padding")
            div(marked="location.description")
        hr
        div.md-body-1
         md-list(flex)
          md-list-item.md-2-line
            div.md-list-item-text(layout="column")
              table.md-table
                tr(ng-if="location.emptySince")
                  td {{ 'locations.empty_for' | translate }}: 
                  td {{ location.emptySince | translate }}
          md-divider
          md-list-item.md-2-line
            div.md-list-item-text(layout="column")
              table.md-table
                tr
                  td {{ 'locations.address' | translate }}: 
                  td 
                    | {{location.street || ('locations.unknown' | translate)}} <br />
                    | {{location.postcode}} {{location.city || ('locations.unknown' | translate)}}
          md-divider
          md-list-item.md-2-line
            div.md-list-item-text(layout="column")
              table.md-table
                tr
                  td {{ 'locations.degree' | translate }}:
                  td {{(location.degree | translate) || ('locations.unknown' | translate)}}
          md-divider
          md-list-item.md-2-line
            div.md-list-item-text(layout="column")
              table.md-table
                tr
                  td {{ 'locations.demolished' | translate }}: 
                  td {{(location.demolished ? ('locations.demolished_yes' | translate) : null) || ('site.no' | translate)}} &nbsp;
          md-divider
          md-list-item.md-2-line
            div.md-list-item-text(layout="column")
              table.md-table
                tr
                  td {{ 'locations.demolition_rumor' | translate }}: 
                  td {{(location.demolition_rumor ? ('locations.demolition_rumor_yes' | translate) : null) || ('locations.unknown' | translate)}}
          md-divider
          md-list-item.md-2-line
            div.md-list-item-text(layout="column")
              table.md-table
                tr
                  td {{ 'locations.building_type' | translate }}:
                  td {{(location.buildingType | translate) || ('locations.unknown' | translate)}}
          md-divider
          md-list-item.md-2-line
            div.md-list-item-text(layout="column")
              table.md-table
                tr
                  td {{ 'locations.owner' | translate }}: 
                  td {{(location.owner | translate) || ('locations.unknown' | translate)}}
        hr
        div(comments uuid='location.uuid' resource='locations')
